<p>Hello, this is {{name}} and I’m calling from {{place}}. I’m calling to ask {{critter.title}} {{critter.last_name}} to reconsider and condemn Donald Trump's executive order restricting immigration. It undermines our core values as a nation, does not benefit national security, and is likely unconstitutional. History will judge us by our openness to the most vulnerable.</p>
<p><span class="condition">[If “no”]</span> Thank you; I’ll be calling back tomorrow.</p>
<p><span class="condition">[If “yes”]</span> Thank you, I look forward to seeing the statement.</p>
