<!DOCTYPE html>
<html>
    <head>
        {% if campaign %}
            <title>Call your reps to #{{ campaign.hashtag }}</title>
        {% else %}
            <title>Call your reps to #Resist</title>
        {% endif %}
        {% include "call/header.html" %}
    </head>
    <body>
        <div align="center">
            <form action="{% url 'call:scripts' %}" method="get">
                <h2>What do you care about?</h2>
                <select class="big" name="campaign">
                    <option value="">Choose one</option>
                    {% for c in campaigns %}
                        <option
                            {% if c == campaign %}selected{% endif %}
                            value="{{ c.name }}"
                            >
                            #{{ c.hashtag }}
                        </option>
                    {% endfor %}
                </select>
                <h2>Where do you live?</h2>
                <table>
                    <tr>
                        <td>
                            <label for="zip">ZIP code:</label>
                        </td>
                        <td>
                            <input type="text" name="zip" id="zip" value="{{zip}}" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="name">(Optional) First name:</label>
                        </td>
                        <td>
                            <input type="text" name="name" id="name" value="{{name}}" />
                        </td>
                    </tr>
                </table>
                <input class="big" type="submit" value="Find my reps!" />
            </form>
            {% if error %}
                <p style="color: orangered">
                    {{error}}
                </p>
            {% endif %}
        </div>
    </body>
</html>

